#​ Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

#​ Folder config file
[Dd]esktop.ini

#​ Recycle Bin used on file shares
$RECYCLE.BIN/

#​ Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

#​ Windows shortcuts
*.lnk

# Build artifacts (Java)
dist/
*.jar
*.class